.vercel
.env.development
.env.production
./logs
/logs/
docker-compose.yml
Dockerfile

# Python cache dosyaları
__pycache__/
*.py[cod]

# Diğer önerilen dosya/dizinler (opsiyonel)
*.egg-info/
*.eggs/
dist/
build/