{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_page_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}">
{% endblock %}


{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Text to Video Render Verileri</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <table id="imageRequestsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Kullanıcı Adı</th>
                        <th>İstek Zamanı</th>
                        <th>Prompt</th>
                        <th>Ref Görsel</th>
                        <th>Video</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in video_requests %}
                    <tr>
                        <td>{{ request.username }}</td>
                        <td>{{ request.datetime }}</td>
                        <td>{{ request.prompt }}</td>
                        <td>
                            <a href="{{ request.image_url }}" target="_blank">
                                <img src="{{ request.image_url }}" alt="Image" style="width: 100px; height: auto;">
                            </a>
                        </td>
                        <td>
                            <video width="200" controls>
                                <source src="{{ request.video_url }}" type="video/mp4">
                                Tarayıcınız video etiketini desteklemiyor.
                            </video>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/pdfmake/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
    <script>
        $(function () {
            $("#imageRequestsTable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["csv", "excel", "print"]
            }).buttons().container().appendTo('#imageRequestsTable_wrapper .col-md-6:eq(0)');
        });
    </script>
{% endblock %}
