{% extends "base.html" %}

{% block title %}Dashboard - Admin Panel{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/jqvmap/jqvmap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/summernote/summernote-bs4.min.css') }}">
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="card-body" style="display: inline-flex">
                <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ subscription_count }}</h3>
                <p>Abonelikler</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="{{ url_for('admin_routes_bp.list_subscription') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
                 <!-- ./col -->
                {% if current_user.is_authenticated and 'bc8650b1-a41f-417d-a4c2-ab59b2738195' in current_user.roles %}
                 <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-gradient-gray">
                        <div class="inner">
                          <h3>{{ purchase }}</h3>
                          <p>Satın Alımlar</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-bag"></i>
                        </div>
                        <a href="{{ url_for('admin_routes_bp.list_purchase') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                 </div>
                 <!-- ./col -->
                {% endif %}

                <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ web_site_users }}</h3>

                <p>Kullanıcı Sayısı</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{{ url_for('admin_routes_bp.admin_users') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
                 <!-- ./col -->
                <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ enterprise_customer }}</h3>

                <p>Enterprise Müşteriler</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="{{ url_for('admin_routes_bp.list_customers') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="card-body" style="display: inline-flex">
                <div class="col-lg-2 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                          <h3>{{ text_to_image_requests }}</h3>

                          <p>Text To Image</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-bag"></i>
                        </div>
                        <a href="{{ url_for('admin_routes_bp.list_image_requests') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                      <div class="inner">
                        <h3>{{ upscale_requets }}</h3>

                        <p>Upscale</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                      </div>
                      <a href="{{ url_for('admin_routes_bp.list_upscale_requests') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-gray-dark">
                      <div class="inner">
                        <h3>{{ text_to_video }}</h3>

                        <p>Text to Video</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                      </div>
                      <a href="{{ url_for('admin_routes_bp.list_text_to_video_requests') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <!-- small box -->
                    <div class="small-box bg-fuchsia">
                      <div class="inner">
                        <h3>{{ image_to_video }}</h3>

                        <p>Image to Video</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                      </div>
                      <a href="{{ url_for('admin_routes_bp.list_image_to_video_requests') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-indigo">
                      <div class="inner">
                        <h3>{{ enterprise_request }}</h3>

                        <p>Enterprise Request</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                      </div>
                      <a href="{{ url_for('admin_routes_bp.list_enterprise_requests') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-maroon">
                      <div class="inner">
                        <h3>{{ discord_requests }}</h3>

                        <p>Discord Request</p>
                      </div>
                      <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                      </div>
                      <a href="{{ url_for('admin_routes_bp.get_discord_users') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <!-- Text to Image İstekleri Grafiği -->
        <div class="mt-6 col-6">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span class="badge bg-info p-2" style="font-size: 1.0rem;">Text to Image İstekleri Grafiği</span>
                        <div>
                            <select id="textToImageTimeFilter" class="form-control" style="width: 200px; display: inline-block; margin-left: 20%;">
                                <option value="daily">Günlük</option>
                                <option value="weekly">Haftalık</option>
                                <option value="monthly">Aylık</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="textToImageChart" style="height: 300px;"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Upscale İstekleri Grafiği -->
        <div class="mt-6 col-6">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span class="badge bg-success p-2" style="font-size: 1.0rem;">Upscale İstekleri Grafiği</span>
                        <select id="upscaleTimeFilter" class="form-control" style="width: 200px; display: inline-block; margin-left: 22%;">
                            <option value="daily">Günlük</option>
                            <option value="weekly">Haftalık</option>
                            <option value="monthly">Aylık</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <canvas id="upscaleChart" style="height: 300px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <!-- Video İstekleri Grafiği -->
            <div class="mt-6 col-6">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <span class="badge bg-info p-2" style="font-size: 1.0rem;">Video İstekleri Grafiği</span>
                            <div>
                                <select id="textToVideoTimeFilter" class="form-control" style="width: 150px; display: inline-block;">
                                    <option value="daily">Günlük</option>
                                    <option value="weekly">Haftalık</option>
                                    <option value="monthly">Aylık</option>
                                </select>
                                <select id="textToVideoChartType" class="form-control" style="width: 150px; display: inline-block; margin-left: 10px;">
                                    <option value="line">Çizgi</option>
                                    <option value="bar">Sütun</option>
                                    <option value="pie">Pasta</option>
                                </select>

                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="textToVideoChart" style="height: 300px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="{{ url_for('static', filename='js/custom/admin_dashboard.js') }}"></script>
<script>

</script>
{% endblock %}
