{% extends "base.html" %}

{% block title %}Dashboard - Admin Panel{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/jqvmap/jqvmap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/summernote/summernote-bs4.min.css') }}">
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="card-body" style="display: inline-flex">
                <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ subscription_count }}</h3>
                <p>Satın Alımlar</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="{{ url_for('admin_routes_bp.list_subscription') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
                 <!-- ./col -->
                <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ web_site_users }}</h3>

                <p>Kullanıcı Sayısı</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{{ url_for('admin_routes_bp.admin_users') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
                 <!-- ./col -->
                <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ distinct_discord_user_count }}</h3>

                <p>Discord Kullanıcı Sayısı</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="card-body" style="display: inline-flex">
                <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ text_to_image_requests }}</h3>

                <p>Text To Image</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="{{ url_for('admin_routes_bp.list_image_requests') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
                 <!-- ./col -->
                <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ upscale_requets }}</h3>

                <p>Upscale</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{{ url_for('admin_routes_bp.list_upscale_requests') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
            </div>
        </div>
        <div class="row">
        <!-- Text to Image İstekleri Grafiği -->
        <div class="mt-6 col-6">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span class="badge bg-info p-2" style="font-size: 1.0rem;">Text to Image İstekleri Grafiği</span>
                        <div>
                            <select id="textToImageTimeFilter" class="form-control" style="width: 200px; display: inline-block; margin-left: 20%;">
                                <option value="daily">Günlük</option>
                                <option value="weekly">Haftalık</option>
                                <option value="monthly">Aylık</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="textToImageChart" style="height: 300px;"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Upscale İstekleri Grafiği -->
        <div class="mt-6 col-6">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span class="badge bg-success p-2" style="font-size: 1.0rem;">Upscale İstekleri Grafiği</span>
                        <select id="upscaleTimeFilter" class="form-control" style="width: 200px; display: inline-block; margin-left: 22%;">
                            <option value="daily">Günlük</option>
                            <option value="weekly">Haftalık</option>
                            <option value="monthly">Aylık</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <canvas id="upscaleChart" style="height: 300px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script>
    function fetchChartData(url, timeFrame) {
        return fetch(`${url}?timeFrame=${timeFrame}`)
            .then(response => response.json())
            .then(data => data);
    }

    function updateChart(chart, url, timeFrame) {
        fetchChartData(url, timeFrame).then(data => {
            chart.data.labels = data.labels;
            chart.data.datasets[0].data = data.data;
            chart.update();
        });
    }

    // Text to Image Chart with separate lines for Story and Image Generation
    const textToImageCtx = document.getElementById('textToImageChart').getContext('2d');
    const textToImageChart = new Chart(textToImageCtx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [
                {
                    label: 'Story',
                    data: [],
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false
                },
                {
                    label: 'Image Generation',
                    data: [],
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    fill: false
                }
            ]
        },
        options: {
            scales: {
                x: { type: 'time', time: { unit: 'day' } },
                y: { beginAtZero: true }
            }
        }
    });

    document.getElementById('textToImageTimeFilter').addEventListener('change', function () {
        updateTextToImageChart(this.value);
    });

    function updateTextToImageChart(timeFrame) {
        fetch(`/admin/text_to_image_requests_chart_data?timeFrame=${timeFrame}`)
            .then(response => response.json())
            .then(data => {
                textToImageChart.data.labels = data.labels;
                textToImageChart.data.datasets[0].data = data.storyData; // Story verisi
                textToImageChart.data.datasets[1].data = data.imageGenerationData; // Image Generation verisi
                textToImageChart.update();
            });
    }

    updateTextToImageChart('daily');  // Sayfa yüklendiğinde günlük veriyle başlatıyoruz

    // Upscale Chart
    const upscaleCtx = document.getElementById('upscaleChart').getContext('2d');
    const upscaleChart = new Chart(upscaleCtx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Upscale İstekleri',
                data: [],
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 2,
                fill: false
            }]
        },
        options: {
            scales: {
                x: { type: 'time', time: { unit: 'day' } },
                y: { beginAtZero: true }
            }
        }
    });

    document.getElementById('upscaleTimeFilter').addEventListener('change', function () {
        updateChart(upscaleChart, '/admin/upscale_requests_chart_data', this.value);
    });

    updateChart(upscaleChart, '/admin/upscale_requests_chart_data', 'daily');
</script>
{% endblock %}
