{% extends 'base.html' %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Kullanıcı Listesi</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                      <th>Kullanıcı Adı</th>
                      <th>E-Posta</th>
                      <th>Roller</th>
                      <th>Kayıt Tarihi</th>
                      <th>Son Giriş Tarihi</th>
                      <th>Aktiflik Durumu</th>
                      <th>Ban Durumu</th>
                  </tr>
                  </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ ', '.join(user.roles) }}</td>
                        <td>{{ user.registration_date }}</td>
                        <td>{{ user.last_login_date }}</td>
                        <td>
                            <input type="checkbox" class="switch-status is_enabled"
                                   data-user-id="{{ user.id }}" {% if user.is_enabled %}checked{% endif %}
                                   data-off-color="danger" data-on-color="success"
                                   data-on-text="Aktif" data-off-text="Pasif"
                            >
                        </td>
                        <td>
                            <input type="checkbox" class="switch-status is_banned"
                                   data-user-id="{{ user.id }}" {% if user.is_banned %}checked{% endif %}
                                   data-off-color="success" data-on-color="danger"
                                    data-on-text="Ban" data-off-text="Aktif"
                            >
                        </td>
                    </tr>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
              </div>
              <!-- /.card-body -->
    </div>
</section>
{% endblock %}

{% block scripts %}
<!-- DataTables & Plugins -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>


<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
    });
  });

  $(document).ready(function() {
        // Bootstrap Switch'i etkinleştirin
        $(".switch-status").bootstrapSwitch();

        // Switch butonunun değişikliklerini dinleyin
        $(".switch-status").on('switchChange.bootstrapSwitch', function(event, state) {
            var userId = $(this).data("user-id");
            var field = $(this).hasClass("is_enabled") ? "is_enabled" : "is_banned";
            var value = state;

            // AJAX ile durumu güncelle
            $.ajax({
                url: "/user/update_user_status",  // Güncelleme endpoint'i
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    user_id: userId,
                    field: field,
                    value: value
                }),
                success: function(response) {
                    console.log("Kullanıcı durumu başarıyla güncellendi.");
                },
                error: function(xhr) {
                    alert("Kullanıcı durumu güncellenirken hata oluştu.");
                }
            });
        });
    });
</script>
{% endblock %}
